* { margin: 0px; padding: 0px; }

body { width: 624px; margin: 0 auto; }

canvas#tetrisCanvas { outline: none; width: 180px; height: 360px; border: 1px solid #333; }
canvas#nextTetrominoCanvas { position: absolute; top: 20px; left: 20px; width: 80px; height: 80px; outline: none; border: 1px solid #333; }

.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
#tetrisContainer { font-size: 12px; color: #ccc; position: relative; float: right; width: 440px; height: 360px; border: 1px solid #333; }
.tetrisBackground { position: absolute; top: 0px; left: 0px; width: 440px; height: 360px; z-index: -1; }
/*
.tetrisBoard { border: 1px solid #333; background: #000; opacity: 0.8; float: left; }
.tetrisBoard p { border: 1px solid transparent; border-width: 0px 1px 1px 0px; width: 15px; height: 15px; float: left; font-size: 8px; }
*/
.tetrisTimer, .tetrisPoints { font-size: 12px; }
.tetrisPoints span, .tetrisPlay span { margin-left: 10px; width: 40px; float: right; text-align: right; }
/*
.tetrisBoard p.tetrisElement { background: #28deff; border: 1px solid #666; border-width: 0px 1px 1px 0px; }
.tetrisBoard p.tetrisWall { background: #eee; border: 1px solid #333; border-width: 0px 1px 1px 0px; }
.tetrisBoardNext { margin: 15px 0px 0px 10px; }
.tetrisBoardNext p { border: 1px solid transparent; border-width: 0px 1px 1px 0px; width: 15px; height: 15px; float: left; font-size: 8px; }
.tetrisBoardNext p.tetrisElement { background: #28deff; border: 1px solid #666; border-width: 0px 1px 1px 0px; }
*/
.tetrisInfo { border: 1px solid #333; background: #000; opacity: 0.8; padding: 15px; position: absolute; top: 20px; right: 20px; }
/*
.tetrisNext { border: 1px solid #333; float: left; background: #000; opacity: 0.8; padding: 15px; margin-left: 30px; }
*/
.tetrisControls { border: 1px solid #333; background: #000; opacity: 0.8; padding: 15px; position: absolute; bottom: 20px; right: 20px; }
