* { margin: 0px; padding: 0px; }
body { width: 624px; margin: 0 auto; }
canvas#tetrisCanvas { outline: none; width: 180px; height: 360px; border: 1px solid #333; background: #333; }
canvas#nextTetrominoCanvas { position: absolute; top: 20px; left: 20px; width: 72px; height: 54px; outline: none; border: 2px solid #666; }
#tetrisContainer { font-size: 12px; color: #ccc; position: relative; float: right; width: 440px; height: 360px; border: 1px solid #333; background: #3E3C2F; }
#tetrisContainer > div { -moz-border-radius: 10px; }
#tetrisContainer h1 { color: #aaa; position: absolute; top: 130px; left: 20px; }
#tetrisContainer h1 span { color: #777; }
.tetrisFace { position: absolute; bottom: 20px; left: 20px; width: 395px; height: 150px; border: 2px solid #666; background: #ccc; }
.tetrisFace h2 { font: normal 18px Georgia; color: #222; padding: 10px 15px; height: 120px; text-align: right; float: right; position: relative; }
.tetrisFace h2 span { display: block; font-style: italic; font-size: 12px; margin-top: 15px; }
.tetrisFace h2 a { position: absolute; bottom: 0px; right: 15px; font: normal 12px Georgia; display: block; color: #222; }
.tetrisTimer, .tetrisPoints { font-size: 12px; }
.tetrisPoints span, .tetrisPlay span { margin-left: 10px; width: 40px; float: right; text-align: right; }
.tetrisInfo { border: 2px solid #666; background: #000; opacity: 0.8; padding: 15px; position: absolute; top: 20px; left: 120px; }
.tetrisControls { border: 2px solid #666; background: #000; opacity: 0.8; padding: 15px; position: absolute; top: 20px; right: 20px; }